:root {
  --nav-bg: rgb(255, 53, 53);
  --gray-light: #F8F8F8;
  --raiud: 20px
  --nav
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  @media screen and (min-width:768px){
    .site-container{
      flex-direction: row;
      flex: 1 1 0;
    }
  }
}


.navbar{
  background-color:rgb(229, 19, 0);
  color: rgb(255, 255, 0);
  width: 100%;
  display: flex;
}
.main-content {
  max-width: 1344px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  
}
.container-fluid {
  margin:auto;
  padding: 1rem;
}
.title {
  margin-bottom: 2rem;
  font-size: 1.75rem;
}
/* Loader */
@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0
  }
  100% {
    background-position: 500px 0
  }
}
.placeholder-loader {
  color: transparent !important;
  user-select: none;
  position: relative;
  border-radius: calc(var(--radius) * 2);
  &::after {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    right: 0;
    display: block;
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-size: 1000px 100%;
    background: linear-gradient(to right, #F8F8F8 8%, darken(#F8F8F8, 5%) 18%, #F8F8F8 33%) 5px 5px;
    border-radius: 10px;
    content: ' '
  }
}



.footer {
  position:fixed,sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(245, 245, 112);
  color:red;
  text-align: center;
  text-decoration: none;
}
/* End Loader*/
.placeholder-loader .big {
  width: 200px;
  height: 200px;
}
.placeholder-loader-bg {
  background-color: var(--gray-light);
  color: transparent !important;
}
.placeholder-loader-empty {
  color: transparent !important;
}

.navbar-light .navbar-brand{
  color:yellow;
}

.curd-custom{
  border-radius: 25px;
}

.btn-src{
  color:yellow;
  border-color: yellow;
}

.btn-src:hover{
  background-color: rgb(245, 245, 112);
  border-color: yellow;
  color:red;
}

.cardbtn{
  color:rgb(229, 19, 0);
  background-color: rgb(246, 86, 86);
  border-color: rgb(255, 53, 53);
}
.cardbtn:hover{
  background-color: rgb(245, 245, 112);
  border-color: yellow;
}


.alertbtn{
  background-color: rgb(255, 53, 53);
  border-color:red;
}
.alertbtn:hover{
  background-color: red;
  border-color :rgb(255, 53, 53);
}


.alertstyle{
  display: flex;
  justify-content: center;
  margin: auto;
}

.cards{
  display: flex;
  margin:10px ;
}

.card{
  border:red 2px solid;
  width: 16rem;
  //height: 16rem;
  margin: 5px;
  border-radius: 25px;
}

.img{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: yellow 2px solid;
}

.van{
  text-decoration: none;
  color: yellow;
}


*{padding: 0;
  margin:0;
  box-sizing:0;
}